#root {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 50px;
}

.table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
  grid-template-areas:
    ". one one two two ."
    "three three four four five five"
    ". six six seven seven .";
  place-items: center;
  width: 600px;
  height: 600px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  width: 100px;
  height: 150px;
  background: WhiteSmoke;
  padding: 10px;
  animation-duration: 1s;
  animation-name: pullOut;
}

@keyframes pullOut {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.99);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

.selected {
  box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.red {
  background: IndianRed;
  grid-area: 1 / 1;
}

.orange {
  background: orange;
  grid-area: 1 / 2;
}

.yellow {
  background: #fdec96;
  grid-area: 2 / 1;
}

.green {
  background: MediumSeaGreen;
  grid-area: 2 / 2;
}

.blue {
  background: RoyalBlue;
  grid-area: 3 / 1;
}

.purple {
  background: MediumPurple;
  grid-area: 3 / 2;
}
