.table {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
  grid-template-areas:
    ". one one two two ."
    "three three four four five five"
    ". six six seven seven .";
  place-items: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100px;
  height: 150px;
  background: WhiteSmoke;
  place-items: center;
}

.dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.red {
  background: red;
  grid-area: 1 / 1;
}

.orange {
  background: orange;
  grid-area: 1 / 2;
}

.yellow {
  background: yellow;
  grid-area: 2 / 1;
}

.green {
  background: green;
  grid-area: 2 / 2;
}

.blue {
  background: blue;
  grid-area: 3 / 1;
}

.purple {
  background: purple;
  grid-area: 3 / 2;
}
